<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>easyInfo</display-name>
    <servlet-name>easyInfo</servlet-name>
    <servlet-class>com.example.server.easyInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>easyInfo</servlet-name>
    <url-pattern>/easyInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>saveInfo</display-name>
    <servlet-name>saveInfo</servlet-name>
    <servlet-class>com.example.server.saveInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saveInfo</servlet-name>
    <url-pattern>/saveInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>selectByTime</display-name>
    <servlet-name>selectByTime</servlet-name>
    <servlet-class>com.example.server.selectByTime</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selectByTime</servlet-name>
    <url-pattern>/selectByTime</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>rspTest</display-name>
    <servlet-name>rspTest</servlet-name>
    <servlet-class>com.example.server.rspTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>rspTest</servlet-name>
    <url-pattern>/rspTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>selectTempData</display-name>
    <servlet-name>selectTempData</servlet-name>
    <servlet-class>com.example.server.selectTempData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selectTempData</servlet-name>
    <url-pattern>/selectTempData</url-pattern>
  </servlet-mapping>
</web-app>